/*!
Project: Randkuj.my;
Date create: 2016-11-14;
Date last modification: 2016-12-08;
Author: Eugene Poprotsky;
Company: Iguana studio;
Version: 1.0;
*/

@import
    'vendor/_media-queries.scss',
    'vendor/_flexboxgrid.scss',
    'vendor/_flickity.scss',
    'vendor/_magnific-popup.scss',
    'helpers/_variables.scss',
    'helpers/_helpers.scss',
    'helpers/_mixins.scss',
    'helpers/_functions.scss',
    'base/_normalize.scss',
    'base/_fonts.scss',
    'base/_global.scss',
    'base/_ie.scss',
    'components/_wysiwyg.scss',
    'components/_tags.scss',
    'components/_buttons.scss',
    'components/_form.scss',
    'components/_labels.scss',
    'components/_headings.scss',
    'components/_tabs.scss',
    'components/_accordion.scss',
    'components/_livesearch.scss',
    'components/_alerts.scss',
    'components/_popup.scss',
    'components/_tooltip.scss',
    'components/_gallery.scss',
    'components/_carousel.scss',
    'components/_profile-item.scss',
    'components/_progress-bar.scss',
    'components/_sections.scss',

    'components/_pagination.scss',

    'layout/_grid.scss',
    'layout/_breadcrumbs.scss',
    'layout/_header.scss',
    'layout/_footer.scss',
    'pages/_common.scss',
    'pages/_homepage.scss';