// default font
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin-ext');

// icons
@font-face {
  font-family: $default-font-family-icon;
 src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $default-font-family-icon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-conversations:before {
  content: "\e902";
}
.icon-crop:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-gift:before {
  content: "\e907";
}
.icon-google-plus:before {
  content: "\e908";
}
.icon-heart-plus:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e90a";
}
.icon-locked:before {
  content: "\e90b";
}
.icon-mail-hearts:before {
  content: "\e90c";
}
.icon-photo-camera:before {
  content: "\e90d";
}
.icon-protection:before {
  content: "\e90e";
}
.icon-rotate-left:before {
  content: "\e90f";
}
.icon-rotate-right:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-settings:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e913";
}
.icon-upload:before {
  content: "\e914";
}
.icon-user-search:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-users:before {
  content: "\e917";
}
.icon-verification-mark:before {
  content: "\e918";
}
.icon-verification:before {
  content: "\e919";
}
