.ie {
    .main-header--thin .main-header__actions > li .main-header__action-link {
        @include min-screen($lg-min) {
            height: 80px;
        }
    }
    .main-header__actions > li .main-header__action-link {
        @include min-screen($lg-min) {
            height: 100px;
        }
        @include transition();
    }
    .main-header__mobile-container {
        height: 80px;
    }
    .alert__text {
        max-width: 97%;
    }
    .heading {
        height: 54px;
    }
    .heading--small {
        height: 35px;
    }
    .label--default {
        height: 29px;
        &.label--small {
            height: 18px;
        }
    }
    .main-header__action-link > * {
        display: flex;
    }
}