 .accordion-custom {
    &.active {
        .accordion-content {
            display: block;
        }
    }
    .accordion-link {
        cursor: pointer;
        background-color: $bg-color-lighten;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        &__title {
            margin-bottom: 0;
            margin-right: 15px;
            font-size: $heading-4-size;
        }
        &__status {
            > [class*=status] {
                padding: 10px 20px;
                background-color: #e6e6e6;
                border-radius: 5px;
                font-size: 13px;
            }
            &-show {
                display: none;
            }
            &-hide {
                display: block;
            }
        }
        &.active {
             .accordion-link__status {
                > [class*=status] {
                    background-color: $key-color-1;
                    color: #fff;
                }
                &-show {
                    display: block;
                }
                &-hide {
                    display: none;
                }
            }
        }
    }
    .accordion-content {
        display: none;
        padding: 20px;
    }
}