.alert {
    padding: 15px;
    font-weight: 400;
    margin: 0;
    border-radius:5px;
    margin-bottom: 20px;
    &__text {
        font-size: 15px;
        a {
            color: inherit;
            font-weight: 600;
            border-bottom: 1px dotted;
            border-color: inherit;
            @include hover() {
                color:inherit !important;
                opacity: .7;
            }
        }
        ul {
            list-style: disc;
            padding-left: 15px;
        }
    }
    &__cross {
        font-size: 13px;
        cursor: pointer;
        padding-top: 5px;
        align-self: flex-start;
    }
    &--fixed {
        position: fixed;
        bottom: 0;
        left:0;
        right: 0;
        z-index: 9;
        margin-bottom: 0;
        transform: translateY(0%);
        &.hide {
            transform: translateY(100%);
        }
    }
    &--default {
        background-color: $key-color-1;
        color: #fff;
    }
    &--inverse {
        background-color: $heading-color;
        color: #fff;
    }
    &--success {
        background-color: #2ecc71;
        color: #fff;
    }
    &--error {
        background-color: #e74c3c;
        color: #fff;
    }
    &--gray {
        background-color: $bg-color-lighten;
        color: $default-font-color;
    }
    &--info {
        position: relative;
        background-color: #fff;
        border: 2px solid $bg-color-lighten;
        color: $default-font-color;
        padding-left: 75px;
        &::before {
            content: '?';
            position: absolute;
            background-color: $bg-color-lighten;
            height:100%;
            padding: 25px;
            top:0;
            left:0;
            font-size: 24px;
            display: flex;
            align-items: center;
            color: $heading-color;
        }
        .mark {
            background-color: transparent;
            color: $key-color-1;
            font-weight: 500;
            padding: 0;
        }
    }
    &--alt {
        position: relative;
        overflow: hidden;
        background-color: #fff;
        margin:0;
        padding: 0;
        width: 500px;
        border-radius: 5px;
        box-shadow: 0px 18px 51.3px 5.7px rgba(107, 106, 106, 0.15);
        transform: translateX(0%);
        @include transition();
        @include max-screen($xs-max) {
            max-width: 440px;
        }
        @include max-screen($xxs-max) {
            max-width: 100%;
        }
        &.hide {
            opacity: 0;
            transform: translateX(100%);
        }
        &__close {
            cursor: pointer;
            font-size: 14px;
            padding: 0 20px; 
            flex: 0 0 auto;
            background-color: $bg-color-lighten;
            @include transition();
        }
        .alert__label,
        .alert__text {
            padding: 15px 0; 
        }
        .alert__text {
            padding-right: 15px;
            flex: 1 1 auto;
            span {
                display: block;
                max-width: 100%;
            }
        }
        .alert__label {
            margin-right: 20px;
            margin-left: 20px;
            flex: 0 0 auto;
            .icon {
                color: #fff;
                padding: 8px;
                border-radius: 50%; 
            }
        }
        &-success {
            .icon {
                background-color: #2ecc71;
            }
            .alert--alt__close {
                @include hover() {
                    background-color: #2ecc71;
                    color:#fff;  
                }
            }
        }
        &-error {
            .icon {
                background-color: #e74c3c;
            }
            .alert--alt__close {
                @include hover() {
                    background-color: #e74c3c;
                    color:#fff;  
                }
            }
        }
    }
}

.alert-alt-container {
    position: fixed;
    top:150px;
    left:auto;
    z-index: 99;
    @include max-screen($xxs-max) {
        left:15px;
    }
    .alert--alt + .alert--alt {
        margin-top: 30px;
    }
}