.btn {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 30px;
    // margin: 5px;
    display: inline-block;
    text-align: center;
    color: $default-font-color;
    background-color: $bg-color-lighten; 
    border-radius: 50px;
    border: 2px solid transparent;
    text-decoration: none;
    @include transition();
    // &[type="submit"],
    // &[type="button"]{
    //     padding: 19px 30px 17px;
    // }
    &--first {
        margin-left: 0;
    }
    &--last {
        margin-right: 0;
    }
    &--default {
        background-color: $key-color-1; 
        color: #fff !important;
        @include hover() {
            border-color: transparent;
            background-color: $heading-color;
            color: #fff !important; 
        }
    }
    &--primary {
        color: $default-font-color !important;
        background-color: $bg-color-lighten;
    }
    &--border {
        color: $default-font-color !important;
        background-color: transparent;
        border-color: $bg-color-lighten;
    }
    &--inverse {
        color: #fff !important;
        background-color: $heading-color;
    }
    &--alt {
        border-radius: 5px;
        background-color: #e6e6e6;
    }
    &--label {
        border-radius: 0;
        background-color: transparent;
        padding: 0 !important;
        .icon {
            margin-right: 10px;
            color: $key-color-1;
            font-size: 24px;
        }
        @include hover() {
            color: $key-color-1;
        }
    }
    &--active {
        background-color: $key-color-1;
        color: #fff !important;
    }
    &--primary,
    &--border,
    &--inverse,
    &--alt {
        @include hover() {
            border-color: transparent;
            background-color: $key-color-1;
            color: #fff !important; 
        }
    }
    &--small {
        font-size: 13px;
        padding: 7px 20px 6px;
        .icon {
            font-size: 20px;
            margin-right: 8px;
        }
    }
    &--large {
        font-size: 17px;
        padding: 13px 40px 14px;
        .icon {
            font-size: 28px;
            margin-right: 12px;
        }
    }
    &--fullwidth {
        width: 100%;
    }
}

// btn container
.btn-container {
    .btn {
        margin: 5px;
        margin-left: 0;
        & + .btn {
            margin-left: 5px;
        }
    }
}