.carousel {
    margin-bottom: 70px;
    &__arrows {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        .icon {
            background-color: $bg-color-lighten;
            padding: 11px 10px 9px 10px;
            border-radius: 50%;
            font-size: 13px;
            margin: 0 2px;
            @include transition();
            @include hover() {
                background-color: $key-color-1;
                color:#fff;
            }
        }
        .previous-arrow {
            transform: rotate(90deg);
        }
        .next-arrow {
            transform: rotate(-90deg);
        }
    }
    // change these props
    &__item {
        transform: scale(1) translateZ(0);
        outline: 1px solid transparent;
        *, *:hover {
        transform: scale(1) translateZ(0);
        outline: 1px solid transparent;
        }
    }
}

.carousel-1-items {
    .carousel__item {
        width: 100%;
        padding: 50% 0;
    }
}

.carousel-2-items {
    .carousel__item {
        width: 50%;
        padding: 25% 0;
    }
}
.carousel-3-items {
    .carousel__item {
        width: 33.33%;
        padding: 16.66% 0;
    }
}
.carousel-4-items {
    .carousel__item {
        width: 25%;
        padding: 12.5% 0;
    }
}
.carousel-5-items {
    .carousel__item {
        width: 20%;
        padding: 10% 0;
    }
}
.carousel-6-items {
    .carousel__item {
        width: 16.66%;
        padding: 8.33% 0;
    }
}
