input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    text-overflow: ellipsis;
    font-size: 15px;
    padding: 12px 20px 13px 20px;
    border: 2px solid $bg-color-lighten;
    border-radius: 50px;
    margin:$default-margin;
    @include transition();
    @include hover() {
        border-color: $key-color-1;
    }
    &:focus {
        border-color: $key-color-1;
    }
    &.error {
        border-color: #e74c3c;
    }
}

input,
textarea {
    -webkit-appearance: none;
}

textarea {
    resize:none;
    border-radius: 5px;
}

.input-container {
    position: relative;
    label {
        font-size: 15px;
        font-weight: 500;
        color: $bg-color-darken;
        display: block;
        margin-bottom: 8px;
    }
    input,
    textarea {
        width: 100%;
    }
    a {
        font-size: 13px;
        text-decoration: none;
    }
    &__header {
        margin-bottom: 8px;
        label {
            margin-bottom: 0;
        }
    }
    &--gray-bg {
        input[type="text"],
        input[type="email"],
        input[type="password"],
        .select-custom__placeholder {
            border-color: transparent;
            background-color: $bg-color-lighten; 
            &:hover,
            &:focus {
                border-color: $bg-color-lighten;
                background-color: transparent; 
            }
        }
        
    }
}

// 
// radio
// 
.radio-custom {
    &__option {
        display: inline-block;
        position: relative;
        padding-left: 24px;
        font-size: 15px;
        margin: 0 15px 15px 0;
        cursor: pointer;
        @include transition();
        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            border: 2px solid $default-font-color;
            border-radius: 50px;
            position: absolute;
            opacity: .5;
            left:0;
            top:2px;
            @include transition();
        }
        &.checked {
            &::before {
                opacity: 1;
                border-color: transparent;
                background-color: $key-color-1;
            }
        }
        @include hover() {
            color: $key-color-1;
            &::before {
                opacity: 1;
                border-color: transparent;
                background-color: $key-color-1;
            }
        }
    }
    &--alt {
        overflow: hidden;
        .radio-custom__options {
            display: inline-block;
            position: relative;
            padding-left: 48px;
            cursor: pointer;
            &::before { 
                content: '';
                display: inline-flex;
                width: 40px;
                height: 20px;
                border-color:transparent;
                background-color: $bg-color-lighten;
                border-radius: 50px;
                position: absolute;
                left:0;
                top:50%;
                transform: translateY(-50%);
                @include transition();
            }
            &::after {
                content: '';
                display: inline-flex;
                width: 14px;
                height: 14px;
                border-radius: 50px;
                background-color: #fff;
                position: absolute;
                left:3px;
                top:50%;
                transform: translateY(-50%);
                @include transition();
            }
            &.switch {
                &::before { 
                    background-color: $key-color-1;
                }
                &::after {
                    left:23px;
                }
            }
        }
        .radio-custom__title {
            margin-bottom: 0;
            font-size: 15px;
            font-weight: 600;
            display: block;
            color: $heading-color;
            cursor: pointer;
        }
        .radio-custom__options-container {
            display: block;
            min-height: 21px;
        }
        .radio-custom__option {
            padding-left: 0;
            margin-bottom: 0;
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            white-space: nowrap;
            position: absolute;
            color: $default-font-color;
            transform: translateY(100%);
            @include hover() {
                color: $default-font-color;
            }
            &::before {
                content: none;
            }
            &.checked {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

// 
// checkbox
// 
.checkbox-custom {
    &__adv-options {
        padding-left: 24px;
    }
    &__option {
        display: inline-block;
        position: relative;
        padding-left: 24px;
        font-size: 15px;
        margin: 0 15px 15px 0;
        cursor: pointer;
        @include transition();
        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            border: 2px solid $default-font-color;
            border-radius: 5px;
            position: absolute;
            opacity: .5;
            left:0;
            top:2px;
            @include transition();
            @include max-screen($sm-max) {
                top:2.5px;
            }
            @include max-screen($xs-max) {
                top: 3.5px;
            }
        }
        &.checked {
            &::before {
                opacity: 1;
                border-color: transparent;
                background-color: $key-color-1;
            }
        }
        @include hover() {
            color: $key-color-1;
            &::before {
                opacity: 1;
                border-color: transparent;
                background-color: $key-color-1;
            }
        }
    }
}

// 
// select
// 
.select-custom {
    position: relative;
    &__placeholder {
        cursor: pointer;
        font-size: 15px;
        padding: 10px 20px;
        border: 2px solid $bg-color-lighten;
        border-radius: 23px;
        margin: $default-margin;
        position: relative;
        z-index: 8;
        @include transition();
        &-text {
            opacity: .7;
            white-space: nowrap;
            display: block;
            padding-right: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            span:not(.select-custom__placeholder-default-text) {
                &::after {
                    content: ', ';
                }
                &:last-child {
                   &::after {
                        content: none;
                    } 
                }
            }
        }
        &::after {
            content: '\e900';
            font-family: $default-font-family-icon;
            position: absolute;
            top:50%;
            right:20px;
            transform: translateY(-50%);
            @include transition(transform);
            font-size: 10px;
        }
    }
    &__dropdown {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top:100%;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0px 18px 51.3px 5.7px rgba(107, 106, 106, 0.15);
        font-size: 15px;
        width: 100%;
        background-color: #fff;
        max-height: 30vh;
        overflow: auto;
        transform: translateY(10%) scale(1.03);
        z-index: 0;
        @include transition();
        @include max-screen($md-max) {
            max-height: 50vh;
        }
        &-list {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
        &-option {
            display: block;
            cursor: pointer;
            padding: 15px 20px;
            border-bottom: 1px solid $bg-color-lighten;
            color: $default-font-color;
            font-size: inherit !important;
            order:1;
            position: relative;
            @include transition();
            @include hover() {
                color: $default-font-color !important;
                background-color: $bg-color-lighten;
            }
            @include keyframes(scale-select-item) {
                0% {
                    transform: scale(1); 
                }
                50% {
                    transform: scale(1.04);
                }
                100% {
                    transform: scale(1);
                }
            }
            &.active {
                color: $default-font-color !important;
                background-color: $bg-color-lighten;
                animation: scale-select-item .5s ease-out;
                padding-right: 40px;
                &::after {
                    content: '\e918';
                    font-family: $default-font-family-icon;
                    position: absolute;
                    top:50%;
                    right:20px;
                    transform: translateY(-50%);
                    font-size: 14px;
                }
                &.order-last {
                    order:2;
                }
            }

        }
        &-group {
            display: block;
            font-weight: 600;
            cursor: default;
            padding: 15px 20px;
            color: $default-font-color !important;
            background-color: $bg-color-lighten;
            font-size: inherit !important;
            @include transition();
        }
        .input-container {
            display: block;
            padding: 15px 20px;
        }
        .select-live-search {
            width: 100%;
            border-radius: 5px;
            margin:0;
        }
    }
    // active
    &.active {
        .select-custom__placeholder {
            background-color: #383838;
            border-color: transparent;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: #fff;
            z-index: 99;
            &-text {
                opacity: 1;
            }
            &::after {
                transform: rotate(180deg) translateY(50%);
            }
        }
        .select-custom__dropdown {
            z-index: 98;
            opacity: 1;
            visibility: visible;
            transform: translateY(0) scale(1);
            @include transition();
        }
    }
}

