.gallery {
    margin:0;
    [class^=col-],
    [class*=col-] {
        padding: 0;
    }
}

.gallery-img {
    position: relative;
    width: 100%;
    padding: 50% 0;
    overflow: hidden;
    cursor: pointer;
    background-color: $bg-color-lighten;
    img {
        max-width: inherit !important;
        width: auto;
        height: 100%;
        flex: 0 0 auto;
        transform: scale(1) translateZ(0);
        @include transition();
    }
    &__hover {
        background-color: rgba(255,120,0, .8);
        z-index: 5;
        color: #fff;
        opacity: 0;
        transform: scale(1.2);
        @include transition();
        .icon {
            font-size: 35px;
            margin-bottom: 20px;
            display: block;
        }
        &-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-text {
            font-size: 14px;
            display: block;
        }
        &-placeholder {
            width: 100%;
            height: 80%;
        }
        &-actions {
            width: 100%;
            height: 20%;
            ul {
                height: 100%;
            }
            li {
                cursor: pointer;
                width: 25%;
                height: inherit;
                text-align: center;
                background-color: $key-color-2;
                @include transition();
                .icon {
                    margin-bottom: 0;
                }
                @include hover() {
                    background-color: $key-color-1; 
                }
            }
        }
    }
    @include hover() {
        .gallery-img__hover {
            opacity: 1;
            transform: scale(1);
            color: #fff !important;
        }
        img {
            transform: scale(1.2);
        }
    }
}