.heading {
    background-color: $bg-color-lighten;
    border-radius: 5px;
    padding: 0 20px; 
    min-height: 54px;
    margin-bottom: 20px;
    &__title {
        font-size: $heading-4-size;
    }
    &__title,
    .label,
    .btn {
        margin:8px 0;
    }
    .btn + .btn {
        margin-left: 10px;
    }
    &--fullwidth {
        border-radius: 0;
        padding: 0;
        margin-bottom: 0;
        > .container,
        > .container > .flex {
            min-height: inherit;
        }
    }
    &--small {
        min-height: 0;
        padding: 10px;
        .heading__title {
            font-size: 13px;
            font-weight: 500;
            margin:0;
            color: $default-font-color;
            &::after {
                content: none;
            }
        }
    }
}