.label {
    color: #fff;
    text-align: center;
    margin:5px;
    @include transition();
    .icon-verification-mark {
        font-size: 11px;
    }
    &--default {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 5px;
        border-radius: 50px;
        background-color: $key-color-1;
        min-width: 29px;
        min-height: 29px;
    }
    &--primary {
        display: table;
        font-size: 13px;
        background-color: $key-color-1;
        opacity: .8;
        border-radius: 5px;
        padding: 13px 10px;
        min-width: 40px;
        min-height: 40px;
        > * {
            vertical-align: middle;
        }
        .icon {
            font-size: 18px;
            ~ span {
                margin-left: 10px;
            }
        }
    }
    &--green {
        background-color: #2ecc71; 
    }
    &--red {
        background-color: #e74c3c; 
    }
    &--gray {
        background-color: $bg-color-lighten; 
    }
    &--alt {
        background-color: $default-font-color; 
    }
    &--no-opacity {
        opacity: 1;
    }
    &--small {
        font-size: 10px;
        padding: 2px 4px;
        min-width: 18px;
        min-height: 18px;
        .icon {
            font-size: 10px;
        }
    }
    &--large {
        font-size: 15px;
        padding: 10px;
        min-width: 42px;
        min-height: 42px;
        .icon-verification-mark {
            font-size: 13px;
        }
    }
}