.live-search-list {
    display: none;
    position: absolute;
    top:100%;
    border-radius: 5px;
    box-shadow: 0px 18px 51.3px 5.7px rgba(107, 106, 106, 0.15);
    font-size: 15px;
    width: 100%;
    background-color: #fff;
    max-height: 30vh;
    overflow: auto;
    z-index: 9;
    &.show {
        display: block;
        .nothing-found {
            display: block;
        }
    }
    &__item {
        display: none;
        cursor: pointer;
        padding: 15px 20px;
        border-bottom: 1px solid $bg-color-lighten;
        color: $default-font-color;
        font-size: inherit !important;
        @include transition();
        &.show {
            display: block;
        }
        @include hover() {
            color: $default-font-color !important;
            background-color: $bg-color-lighten;
        }
    }
}