.popup {
    display: none;
    margin:auto;
    width: 33.33%;
    min-width: 580px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 18px 51.3px 5.7px rgba(107, 106, 106, 0.3);
    &[class*="mfp"] {
        display: block;
    }
    @include max-screen($xxs-max) {
        border-radius:0;
    }
    &--large {
        width: 50%;
        min-width: 960px;
    }
    &--small {
        width: 25%;
        min-width: 445px;
    }
    @include max-screen($xs-max) {
        width: 100%;
        min-width: 100%;
    }
    &__footer-text {
        display: block;
        font-size: 14px;
        margin: 30px 0 20px;
    }
    .btn {
        margin-left: 0;
    }
    .social-icons {
        .icon {
            margin: 4px 0 4px 8px;
            padding: 8px;
            border-radius: 50px;
            color: #fff;
            font-size: 14px;
            @include transition();
            @include hover() {
                opacity: .8;
            }
            &-facebook {
                background-color: #3a559f;
            }
            &-twitter {
                background-color: #50abf1;
            }
            &-google-plus {
                background-color: #dd4b39;
            }
        }
    }
    .terms-checkbox {
        margin: 5px 0 30px;
        .checkbox-custom__option {
            margin: 0;
        }
    }
}


.mfp-container {
    @include max-screen($xs-max) {
        padding: 0 30px;
    }
    @include max-screen($xxs-max) {
        padding: 0;
    }
}



.popup-header {
    background-color: $bg-color-darken;
    padding: 30px 40px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include max-screen($xxs-max) {
        padding: 25px 20px;
        border-radius:0;
    }
    &__title {
        margin-bottom: 0;
        color:#fff;
    }
    .mfp-close {
        padding: 0;
        display: inherit;
        width: auto;
        text-align: center;
        font-size: 20px;
    }
}

.popup-content {
    padding: 30px 40px;
    @include max-screen($xxs-max) {
        padding: 25px 20px;
    }
}

// lightbox arrow
@include max-screen($sm-max) {
    button.mfp-arrow {
        display: none !important;
    }
}