// default view
.profile-list--default {
    margin:0;
    [class^=col-],
    [class*=col-] {
        padding: 0;
    }
    .profile-item {
        display: block;
        position: relative;
        width: 100%;
        padding: 50% 0;
        overflow: hidden;
        cursor: pointer;
        background-color: $bg-color-lighten;
        img {
            max-width: inherit !important;
            width: auto;
            height: 100%;
            flex: 0 0 auto;
            transform: scale(1) translateZ(0);
            @include transition();
        }
        &__hover {
            background-color: rgba(255,120,0, .8);
            z-index: 5;
            color: #fff;
            opacity: 0;
            transform: scale(1.2) translateZ(0);
            outline: 1px solid transparent;
            @include transition();
            @include max-screen($md-max) {
                display: none;
            }
            &.active {
                [data-action-default] {
                    opacity: 0;
                }
            }
            &-title {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 5px;
                display: block;
            }
            &-text {
                font-size: 16px;
                font-weight: 300;
                display: block;
            }
            &-placeholder {
                position: relative;
                width: 100%;
                height: 80%;
                a {
                    color: #fff !important;
                }
                .icon {
                    font-size: 70px;
                    margin-bottom: 20px;
                    display: block;
                }
                [data-action] {
                    opacity: 0;
                    transform: translateY(25%);
                    @include transition();
                    &.active {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            &-actions {
                width: 100%;
                height: 20%;
                position: relative;
                z-index: 9;
                ul {
                    height: 100%;
                }
                li {
                    cursor: pointer;
                    width: 25%;
                    height: inherit;
                    text-align: center;
                    background-color: $key-color-2;
                    a {
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    @include transition();
                    .icon {
                        margin-bottom: 0;
                        font-size: 26px;
                    }
                    @include hover() {
                        background-color: $key-color-1; 
                    }
                }
            }
        }
        @include hover() {
            .profile-item__hover {
                opacity: 1;
                transform: scale(1) translateZ(0);
                color: #fff !important;
            }
            img {
                transform: scale(1.2) translateZ(0);
            }
        }
        // demo
        &--demo {
            .profile-item__hover-placeholder {
                height: 100%;
            }
        }
    }
}