$color-back: #fff;
$color-bar: $key-color-1;

.avatar-container {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    overflow: hidden;
    padding:15% 0;
    width: 30%;
    margin: 10px;
    border: none;
    background-color: $bg-color-lighten;
    > .absolute {
        border-radius: 50%;
        overflow: hidden;
        top:10px;
        left:10px;
        bottom:10px;
        right:10px;
        background-color: $bg-color-lighten;
    }
    .avatar {
        max-width: inherit !important;
        width: auto;
        height: 100%;
        flex: 0 0 auto;
    }
}

/**
* Function to generate procentual progress classes 
* .p-1 1% -> p-100 100%
**/
$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 1 through $loops {

  .p-#{$i*$step} {

    @if $i < $half {
      $nextdeg: 90deg +  ( $increment * $i ) ;

      background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient($nextdeg, $color-bar 50%, $color-back 50%, $color-back);

    } @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );

      background-image: linear-gradient($nextdeg, $color-bar 50%, transparent 50%, transparent), linear-gradient(270deg, $color-bar 50%, $color-back 50%, $color-back);

    }    
  }

}