.ico-section {
    margin: 40px 0;
    .icon {
        color: $key-color-1;
        font-size: 60px;
        margin-right: 50px;
        @include max-screen($lg-max) {
            margin-right: 30px;
            font-size: 55px;
        }
    }
    &__text-part {
        &-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            &::after {
                content: none;
            }
        }
        &-desc {
            margin-bottom: 0;
            @include min-screen($xxlg-min) {
                max-width: 80%;
            }
        }
    }
    &--center {
        margin: 0 0 60px 0;
        @include max-screen($xs-max) {
            margin: 0 0 40px 0;
        }
        * {
            width: 100%;
        }
        .icon {
            display: block;
            margin: 20px auto;
        }
        .ico-section__text-part-desc {
            margin: 0 auto;
            max-width: 80%;
        }
    }
}

.testimonial {
    width: 100%;
    padding: 0 15%;
    margin: auto;
    @include max-screen($xs-max) {
        padding: 0 5%;
    }
    @include max-screen($xxs-max) {
        padding: 0;
    }
    &__text {
        position: relative;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        color: $heading-color;
        margin-bottom: 10px;
        &::before {
            content: '"';
            position: absolute;
            top:-30px;
            left:50%;
            transform: translateX(-50%);
            font-size: 50px;
            color: $key-color-1;
        }
    }
    &__author {
        display: block;
        padding-bottom: 30px;
    }
}

.testimonial-img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    opacity: .5;
    transform: scale(1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include transition();
}