// tabs nav
.tabs-nav {
    &__item {
        cursor: pointer;
        display: inline-flex;
        border: 2px solid $bg-color-lighten;
        color: $default-font-color;
        border-radius: 5px;
        background-color: transparent;
        font-size: 15px;
        padding: 10px 20px;
        margin-right: 8px;
        margin-bottom: 10px;
        @include transition();
        &.active {
            background-color: $key-color-1;
            color: #fff;
            border-color: transparent;
            .label {
                background-color: #fff;
                color: $key-color-1;
            }
            .testimonial-img {
                transform: scale(1.3);
                opacity: 1;
            }
        }
        .label {
            cursor: pointer;
            margin: 0 0 0 5px;
            @include transition();
        }
        @include hover() {
            background-color: $key-color-1;
            color: #fff !important;
            border-color: transparent;
            .label {
                background-color: #fff;
                color: $key-color-1;
            }
        }
    }
    &--alt {
        .tabs-nav__item {
            cursor: pointer;
            display: inline-flex;
            border: none;
            border-radius: 5px;
            background-color: $bg-color-lighten;
            font-size: 15px;
            padding: 12px 20px;
            margin-right: 8px;
            margin-bottom: 10px;
            @include transition();
            &.active {
                background-color: $key-color-1;
                color: #fff;
                border-color: transparent;
            }
            @include hover() {
                background-color: $key-color-1;
                color: #fff;
                border-color: transparent;
            }
        }
    }
}

.tabs-content {
    position: relative;
    &__item {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50px);
        @include transition();
        &.active {
            width: 100%;
            height: auto;
            opacity: 1;
            visibility: visible;
            transform: translateX(0%);
        }
    }
    &--absolute {
        .tabs-content__item {
            position: absolute;
            height: auto;
        }
    }
}