.tag {
    display: inline-flex;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid $bg-color-lighten;
    border-radius: 50px;
    margin: 5px 3px;
    text-decoration: none !important;
    color: $default-font-color;
    @include transition();
    &:hover {
        border-color: transparent;
        background-color: $key-color-1;
        color: #fff !important; 
        .icon {
            color: #fff !important;
            opacity: 1;
        }
    }
    &--locked {
        background-color: $bg-color-lighten;  
    }
    a {
        text-decoration: none;
        font-size: inherit;
        color: $default-font-color;
    }
    .icon {
        font-size: 11px;
        margin-left: 30px;
    }
    .icon-locked {
        font-size: 14px;
    }
}