/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-flex;
    &__text {
        display: block;
        visibility: hidden;
        width: 100%;
        min-width: 200px;
        background-color: #fff;
        font-size: 12px;
        color: $default-font-color;
        text-align: center;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 18px 51.3px 5.7px rgba(107, 106, 106, 0.15);
        position: absolute;
        z-index: 99;
        opacity: 0;
        @include transition();
    }
    @include hover() {
        .label {
            background-color: $bg-color-darken;
        }
        .tooltip__text {
            visibility: visible;
            opacity: 1;
        }
    }
    &--top {
        .tooltip__text {
            bottom: calc(100% + 10px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &--right {
        .tooltip__text {
            left: calc(100% + 10px);
            bottom: 50%;
            transform: translateY(50%);
        }
    }
    &--bottom {
        .tooltip__text {
            top: calc(100% + 10px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &--left {
        .tooltip__text {
            right: calc(100% + 10px);
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}