.wysiwyg {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &::after {
            content:none;
        }
    }
    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.66;
    }
    strong {
        font-weight: 500;
    }
    a {
        text-decoration: underline;
    }
    blockquote {
        padding-left: 0;
        padding-right: 0;
        font-size: 22px;
        line-height: 1.5;
    }
    .gallery {
        margin: 30px 0;
        a {
            text-decoration: none;
        }
    }
}