main {
    margin-top: 100px;
    @include max-screen($md-max) {
        margin-top: 80px;
    }
    @include max-screen($xs-max) {
        margin-top: 70px;
    }
}

// profile list
.profile-list-form {
    margin-bottom: 50px;
    .btn {
        margin-bottom: 25px;
    }
}
.profile-list-footer {
    margin-top: 70px;
}