.homepage {
    > .row > [class*="col-"] {
        padding: 0;
    }
}

.homepage-section {
    display: block;
    height: 100%;
    padding: 130px 50px;
    &.flex {
        display: flex;
    }
    @include max-screen($sm-max) {
        padding: 80px 30px;
    }
    &__title {
        text-align: center;
        font-size: $heading-1-size;
        margin-bottom: 60px;
        @include max-screen($xs-max) {
            margin-bottom: 30px;
        }
    }
    // img
    &--img {
        height: auto;
        width: 100%;
        padding: 50% 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include max-screen($md-max) {
            height: 50vh;
        }
    }
    // quick search
    &--quick-search {
        padding-left: 0;
        padding-right: 0;
        z-index: 9;
        position: relative;
        & > * {
            position: relative;
            z-index: 2;
        }
        &-container {
            position: relative;
            padding: 0;
            > .container > .row > [class*="col-"] {
                padding: 0;
            }
        }
        &-bg {
            background-image: url('../img/homepage-search-img.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            left:0;
            bottom: 0;
            right: 33.33%;
            @include max-screen($md-max) {
                right:0;
                height: 58.2%;
            }
            @include max-screen($xs-max) {
                height:56.2%;
            }
            @include max-screen($xxs-max) {
                height:43.3%;
            }
            &::before {
                content: '';
                @extend .absolute;
                background-color: rgba(28,25,26,.5);
                z-index: 1;
            }
        }
        &-form {
            width: 100%;
            @include min-screen($lg-min) {
                width: 400px;
            }
        }
        &-header {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid $key-color-2;
        }
        &-title,
        &-subtitle {
            color: #fff;
            &::after {
                content: none;
            }
        }
        &-title {
            font-weight: 300;
            font-size: 40px;
            margin-bottom: 10px;
        }
        &-subtitle {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 0;
        }
        .btn {
            margin-top: 15px;
            &--default {
                background-color: $key-color-2;
                @include hover() {
                    background-color: $key-color-1;
                }
            }
            @include max-screen($md-max) {
                margin-bottom: 25px;
            }
            @include max-screen($xs-max) {
                margin-bottom: 0;
            }
        }
        .input-container {
            color: #fff;
            label {
                color: #fff;
            }
            .select-custom.active {
                @include hover() {
                    .select-custom__placeholder {
                        border-color: $heading-color;
                    }
                }
            }
            .select-custom__placeholder {
                border-width: 1px;
                @include hover() {
                    border-color: $key-color-2;
                }
            }
        }
    }
    // numbers
    &--numbers {
        position: relative;
        z-index: 3;
        right:0;
        left:auto;
        padding: 110px 0;
        @include max-screen($lg-max) {
            padding: 90px 0 90px 20px;
        }
        @include max-screen($md-max) {
            padding: 90px 0;
        }
        &-bg {
            left: 66.66%;
            @include max-screen($md-max) {
                left:0;
                top:58.2%;
                z-index: 2;
            }
            @include max-screen($xs-max) {
                top:56.2%;
            }
            @include max-screen($xxs-max) {
                top:43.3%;
            }
        }
        * {
            color: #fff !important;
        }
        .ico-section {
            margin: 0;
            margin-bottom: 50px;
            @include max-screen($md-max) {
                display: inline-flex;
                width: 49%;
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }
            }
            @include max-screen($xs-max) {
                justify-content: center;
                flex-wrap: wrap;
            }
            @include max-screen($xxs-max) {
                width: 100%;
                &:nth-last-child(2) {
                    margin-bottom: 50px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .icon {
            font-size: 50px;
            margin-right: 30px;
            @include max-screen($xs-max) {
                margin-right: 0;
                margin-bottom: 30px;
                width: 100%;
                text-align: center;
            }
        }
        .ico-section__text-part-title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 5px;
            @include max-screen($xs-max) {
                text-align: center;
            }
        }
        .ico-section__text-part-desc {
            max-width: 100%;
            @include max-screen($xs-max) {
                text-align: center;
            }
        }
    }
    // profiles
    &--profiles {
        padding: 0;
        position: relative;
        .profile-list {
            > [class*="col"] {
                @include max-screen($md-max) {
                    &:last-child,
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        display: none;
                    }
                }
                @include max-screen($sm-max) {
                    &:nth-last-child(4),
                    &:nth-last-child(5),
                    &:nth-last-child(6),
                    &:nth-last-child(7),
                    &:nth-last-child(8),
                    &:nth-last-child(9),
                    &:nth-last-child(10) {
                        display: none;
                    }
                }
                @include max-screen($xs-max) {
                    &:nth-last-child(5),
                    &:nth-last-child(6),
                    &:nth-last-child(7),
                    &:nth-last-child(8),
                    &:nth-last-child(9),
                    &:nth-last-child(10) {
                        display: block;
                    }
                }
                @include max-screen($xxs-max) {
                    &:last-child,
                    &:nth-last-child(2),
                    &:nth-last-child(3),
                    &:nth-last-child(4),
                    &:nth-last-child(5),
                    &:nth-last-child(6),
                    &:nth-last-child(7),
                    &:nth-last-child(8),
                    &:nth-last-child(9),
                    &:nth-last-child(10) {
                        display: block;
                    }
                }
            }
        }
    }
    &--how-it-works {
        display: flex;
        position: absolute;
        z-index: 9;
        background-color: #fff;
        top:25%;
        bottom:25%;
        left:16.666%;
        right: 16.666%;
        height: auto;
        padding: 0 50px;
        @include max-screen($lg-max) {
            top: 33.33%;
            bottom: 33.33%;
            left:0%;
            right:0%;
        }
        @include max-screen($md-max) {
            top: 28.5%;
            bottom: 28.5%;
        }
        @include max-screen($sm-max) {
            top: 28.5%;
            bottom: 28.5%;
        }
        @include max-screen($xs-max) {
            top: 30%;
            bottom: 30%;
        }
        @include max-screen($xxs-max) {
            top: 25%;
            bottom: 25%;
        }
    }
    // testimonials
    &--testimonials {
        .tabs-nav__item {
            background-color: transparent;
            padding: 0;
            margin: 10px;
        }
    }
}