.breadcrumbs {
    background-color: $bg-color-lighten;
    padding: 18px 0;
    margin-bottom: 70px;
    &__title {
        font-size: $heading-1-size;
        margin-bottom: 0;
        margin: 7px 15px 7px 0;
    }
    .btn {
        margin: 0;
        & + .btn {
            margin: 0 10px;
        }
    }
    &__path {
        margin: 7px 0;
        li {
            font-size: 14px;
            color: $default-font-color;
            a {
                font-size: inherit;
                color: $default-font-color !important; 
                @include hover() {
                    color: $link-color-hover !important;
                } 
            }
            &::after {
                content: '/';
                padding: 0 5px;
            }
            &:last-child::after {
                content: none;
            }
        }
    }
}