.main-footer {
    margin-top: 100px;
    &__top {
        background-color: $bg-color-lighten;
        padding: 95px 0;
    }
    &__title {
        font-size: $heading-1-size;
        text-align: center;
        margin-bottom: 30px;
        a {
            font-weight: inherit !important;
            color: inherit;  
            @include hover() {
                color: $default-font-color !important;
            }
        }
    }
    &__nav {
        a {
            display: inline-block;
            color: $default-font-color;
            margin: 5px 15px;
        }
        @include max-screen($xs-max) {
            li {
                width: 100%;
                text-align: center;
            }
        }
    }
    // bottom
    &__copyright {
        background-color: $bg-color-darken; 
        padding: 30px 0;
        p {
            color: #fff;
            margin-bottom: 0;
            font-size: 13px;
            text-align: center;
            a {
                font-weight: 600 !important;
                color: inherit;
            }
        }
    }
}