.main-header {
    position: fixed;
    top:0;
    width: 100vw;
    background-color: $bg-color-darken;
    min-height: 6.25rem;
    z-index: 100;
    @include transition();
    @include max-screen($md-max) {
        min-height: 5rem;
    }
    @include max-screen($xs-max) {
        min-height: 4.375rem;
    }
    &--thin {
       min-height: 5rem; 
       @include max-screen($xs-max) {
            min-height: 4.375rem;
       }
    }
    > .container,
    > .container > .flex {
        min-height: inherit;
    }
    &__logo {
        display: flex;
        width: 160px;
        margin-right: 35px;
        position: relative;
        z-index: 10;
        img {
            width: 100%;
            transform: translateZ(0);
        }
        @include max-screen($xlg-max) {
            width: 150px;
            margin-right: 15px;
        }
        @include max-screen($lg-max) {
            margin-right: 10px;
        }
    }
    // nav
    &__nav {
        flex: 1 0 auto;
        min-height: inherit;
        @include max-screen($md-max) {
            margin-top: 80px;
        }
        @include max-screen($xs-max) {
            margin-top: 70px;
        }
        // left
        a:not(.btn) {
            display: inline-block;
            font-size: 15px;
            color: #fff;
            margin: 5px 15px;
            @include hover() {
                color: $key-color-2 !important;
            }
            @include max-screen($xlg-max) {
                margin: 5px 10px;  
            }
        }
        
        .active {
            a {
                color: $key-color-1;
            }
        }
    }
    // right
    &__nav-right {
        min-height: inherit;
    }
    .btn {
        font-size: 15px;
         @include max-screen($md-max) {
            margin-left: 0 !important;
         }
    }
    .btn--border {
        color: #fff !important;
        border-color: $key-color-2;
        @include hover() {
            background-color: $key-color-2;
        }
    }
    .btn--default {
        background-color: $key-color-2;
        @include hover() {
            background-color: $key-color-1;
        }
    }
    .select-custom {
        margin-left: 30px;
        @include max-screen($md-max) {
            margin-left: 0;
            margin-top: 30px;
        }
        &.active {
            .select-custom__placeholder {
                background-color: $key-color-2;
            }
        }
        &__placeholder {
            margin-bottom: 0;
            color: #fff;
            border-width: 1px;
            border-color: rgba(255,255,255,.5);
            padding: 8px 20px 7px;
            width: 130px;
            @include transition();
            @include hover() {
                border-color: $key-color-2;
            }
            &::after {
                transform: translateY(-40%);
            }
            &-text {
                opacity: 1;
                padding-right: 25px;
            }
        }
        &__dropdown-option {
            padding-top: 8px;
            padding-bottom: 8px;
            &.active {
                &::after {
                    font-size: 12px;
                }
            }
        }
    }
    &__actions {
        min-height: inherit;

        > li {
            position: relative;
            min-height: inherit;
            font-size: 15px;
            .main-header__action-link {
                min-height: inherit;
                cursor: pointer;
                padding: 0 15px;
                &:not(.temporary) {
                    @include transition();
                }
                @include max-screen($xlg-max) {
                    padding: 0 10px;
                }
                @include max-screen($lg-max) {
                    padding: 0 10px;
                }
                @include hover() {
                    background-color: $key-color-2;
                    .icon {
                        color: #fff;
                    }
                    .label {
                        background-color: #fff;
                        color: $key-color-2;
                        cursor: pointer;
                    }
                }

                .icon {
                    color: $key-color-2;
                    font-size: 26px;
                    margin-right: 15px;
                    color: $key-color-2;
                    @include transition();
                    @include max-screen($lg-max) {
                        margin-right: 10px;
                    }
                }
                .label {
                    margin:0;
                    margin-left: 5px;
                    color: $bg-color-darken;
                    background-color: $key-color-2;
                }
                span {
                    color: #fff;
                }
                @include min-screen($lg-min) {
                    &.active {
                        background-color: $key-color-2;
                        .icon {
                            color: #fff;
                        }
                        .label {
                            background-color: #fff;
                            color: $key-color-2;
                        }
                    }
                }
            }
        }  
    }
    // 
    // dropdown
    // 
    &__dropdown {
        overflow: auto;
        position: absolute;
        right: 0;
        color:#fff;
        z-index: 99;
        transform: translateY(10%);
        background-color: #fff;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 15px 75px 6px rgba(107, 106, 106, 0.3);
        @include transition();
        @include max-screen($md-max) {
            display: none;
        }
        .radio-custom {
            display: none;
        }
        &.active {
            transform: translateY(0%);
            opacity: 1;
            visibility: visible;
            height: auto;
            .radio-custom {
                display: block;
            }
        }
    }
    // main
    &__dropdown-main {
        min-width: 290px;
        padding: 30px 30px 40px;
        &--profile {
            min-width: 520px;
            .avatar-container {
                width: 130px;
                height: 130px;
                min-width: 130px;
                min-height: 130px;
                padding: 0;
                margin-right: 15px;
                .absolute {
                    top:5px;
                    bottom:5px;
                    left:5px;
                    right: 5px;
                }
            }
            .profile-data {
                .btn {
                    padding: 7px 15px 6px;
                    margin: 0;
                    font-weight: 400;
                    font-size: 13px;
                    &--default {
                        background-color: $key-color-1;
                    }
                    & + .btn {
                        margin-left: 10px;
                    }
                }
                &__title {
                    margin-bottom: 5px;
                }
                &__buttons {
                    margin-top: 15px;
                }
                &__desc {
                    color: $default-font-color;
                    font-size: 14px;
                    margin-bottom: 0;
                }
                &__percent {
                    color: $key-color-1;
                    font-weight: 500;
                }
            }
        }
        &--activity {
            min-width: 450px;
            padding-right: 0;
            padding-bottom: 0;
            .main-header__dropdown-main-content {
                max-height: 280px;
                overflow: auto;
            }
            .main-header__dropdown-one-activity {
                display: flex !important;
                margin: 0 50px 20px 0 !important;
                > :first-child {
                    max-width: 80%;
                }
                @include hover() {
                    .main-header__dropdown-one-activity-title {
                        color: $key-color-1;
                    }
                }
                &-img {
                    display: block;
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    min-height: 50px;
                    border-radius: 50px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    overflow: hidden;
                    margin-right: 20px;
                }
                &-title {
                    color: $heading-color;
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 3px;
                    @include transition();
                }
                &-message {
                    color: $default-font-color;
                    font-weight: 400;
                    font-size: 13px;
                    margin-bottom: 3px;
                    .icon {
                        font-size: 20px;
                        color: $key-color-1;
                        margin-right: 6px;
                    }
                }
                &-time {
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 6px;
                    max-width: 20%;
                    text-align: right;
                }
            }
        }
        &-content {
            .radio-custom {
                margin-bottom: 20px;
            }
        }
    }
    // sidebar
    &__dropdown-sidebar {
        min-width: 240px;
        background-color: $bg-color-lighten;
        padding: 30px 0 10px 30px;
        overflow: hidden;
        &-title {
            margin-bottom: 15px;
        }
        &-list {
            margin-bottom: 30px;
            flex: 1 0 100%;
            overflow-y: auto;
            max-height: 170px;
            @include transition();
            &.translate {
                transform: translateX(-100%);
            }
            &.hide {
                opacity: 0;
                visibility: hidden;
            }
        }
        li {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            a,
            .subnav-button {
                cursor: pointer;
                color: $default-font-color !important;
                font-size: 14px !important;
                margin: 3px 0 !important;
                @include transition();
                @include hover() {
                    .icon {
                        color: inherit;
                    }
                }
            }
            .subnav-button {
                @include hover() {
                    color: $key-color-1 !important;
                }
            }
        }
        .label {
            margin-top: 0;
            margin-bottom: 0;
        }
        .icon-arrow {
            display: inline-block;
            color: $default-font-color;
            font-size: 9px;
            margin-left: 6px;
            transform: rotate(-90deg);
        }
        .subnav {
            @include transition();
            opacity: 0;
            visibility: hidden;
            &.active {
                opacity: 1;
                visibility: visible;
            }
            .subnav-button .icon {
                margin-left:0;
                margin-right: 6px;
                transform: rotate(90deg);
            }
        }
    }

    //
    // mobile nav
    //
    @include max-screen($md-max) {
        &__mobile-container {
            width: 100%;
        }
        .menu-trigger {
            display: flex !important;
            min-height: inherit;
            width: 25px;
            height: 25px;
            position: relative;
            z-index: 9;
            @include max-screen($xxs-max) {
                @include transition();
            }
            > span {
                display: block;
                width: inherit;
                height:2px;
                background-color: $key-color-2;
                position: relative;
                @include max-screen($xxs-max) {
                    @include transition();
                }
                &::before,
                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 100%;
                    height:2px;
                    background-color: $key-color-2; 
                    @include max-screen($xxs-max) {
                        @include transition();
                    }
                }
                &::before {
                    top: -7px;
                }
                &::after {
                    top: 7px;
                }
            }
            &.active {
                @include min-screen($xs-min) {
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateY(-50%);
                }
                > span {
                    background-color: transparent; 
                    &::before {
                        top:0;
                        left:0;
                        transform: rotate(45deg);
                    }
                    &::after {
                        top:0;
                        left:0;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &__nav {
            position: fixed;
            top:0;
            right:0;
            bottom:0;
            background-color: $bg-color-darken;
            width: 33%;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: auto;
            padding: 50px 35px 100px;

            transform: translateX(100%);
            @include transition();
            &.active {
               transform: translateX(0); 
            }
        }
        &__nav-left .flex,
        &__nav-right,
        &__actions {
            flex-direction: column;
        }
        &__actions {
            flex-wrap: nowrap;
            li {
                min-height: initial;
                padding: 10px;
                flex: 1 0 auto;
            }
        }
        &__nav-right {
            margin-top: 60px;
            flex: 0 0 auto;
            align-items: flex-start;
            @include max-screen($xs-max) {
                padding-bottom: 30px;
            }
        }
    }
    @include max-screen($xs-max) {
        &__nav {
            width: 50%;
        }
    }
    @include max-screen($xxs-max) {
        &__nav {
            width: 100%;
            padding-left: 15px;
        }
    }
}

.mobile-dropdowns {
    display: none;
    @include max-screen($md-max) {
        display: block !important;
        position: relative;
        z-index: 0;
        &.active {
            z-index: 101;
        }
    }
    .main-header__dropdown {
        position: fixed;
        top:0;
        right: 0;
        bottom:0;
        left:0;
        color:#fff;
        z-index: 99;
        transform: translateY(10%);
        background-color: #fff;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        opacity: 0;
        visibility: hidden;
        min-height: 100%;
        box-shadow: none;
        display: block;
        @include transition();
        > .flex {
            min-height: inherit; 
            overflow: auto;
            @include max-screen($xs-max) {
                flex-direction: column;
            }
        }
        &.active {
            transform: translateY(0%);
            opacity: 1;
            visibility: visible;
        }
        .icon-cross {
            color: $default-font-color;
            position: absolute;
            right:30px;
            top:30px;
        }
        .main-header__dropdown-main {
            min-width: 65%;
            @include max-screen($md-max) {
                &--activity {
                    .main-header__dropdown-main-content {
                       max-height: 80vh;
                    }
                }
                &--profile {
                    .avatar-container {
                        width: 130px;
                        height: 130px;
                        min-width: 130px;
                        min-height: 130px;
                        padding: 0;
                        margin-right: 15px;
                        .absolute {
                            top:5px;
                            bottom:5px;
                            left:5px;
                            right: 5px;
                        }
                    }
                    .profile-data {
                        .btn {
                            padding: 7px 15px 6px;
                            margin: 0;
                            font-weight: 400;
                            font-size: 13px;
                            &--default {
                                background-color: $key-color-1;
                            }
                            & + .btn {
                                margin-left: 10px;
                            }
                        }
                        &__title {
                            margin-bottom: 5px;
                            text-align: center;
                        }
                        &__buttons {
                            margin-top: 15px;
                        }
                        &__desc {
                            color: $default-font-color;
                            font-size: 14px;
                            margin-bottom: 0;
                            text-align: center;
                        }
                        &__percent {
                            color: $key-color-1;
                            font-weight: 500;
                        }
                    }
                }
            }
            @include max-screen($xs-max) {
                min-width: 100%;
                &--activity {
                    .main-header__dropdown-main-content {
                        max-height: 50vh;
                    }
                    .main-header__dropdown-one-activity {
                        margin-right: 30px !important;
                        .icon {
                            display: none;
                        }
                    }
                }
            }

        }
        .main-header__dropdown-sidebar {
            min-width: 35%;
            @include max-screen($md-max) {
                // min-height: 100vh;
            }
            @include max-screen($xs-max) {
                min-width: 100%;
                min-height: auto;
                flex-grow: 1;
            }
        }
    }
}
